.mainContacto {
    margin-bottom: 100px;



    .tituloContacto {
        margin-top: 50px;
        text-align: center;
        font-family: $font-family_2 !important;
    }

    .contenedorContacto {
        display: flex;
        justify-content: center;
        height: 400px;
        margin: 100px;

        input {
            padding: 12px;
            border-radius: 0%;
            border: 1px solid rgba(0, 0, 0, 0.271);
            font-family: $font-family_2 !important;

        }

        .mensaje {
            padding-bottom: 150px;
        }

        .botonContacto1 {
            padding: 12px;
            margin-top: 25px;
            background-color: $background-color_2;
            color: $color_1;
            font-family: $font-family_2 !important;
        }

        .botonContacto1:hover {
            background-color: $color_1;
            color: $color_2;
            transition: 1s;

        }
    }


    .subtitulo-Contacto {
        text-align: center;
        font-family: $font-family_2 !important;
        margin-top: 150px;
        margin-bottom: 50px;

    }
}

.contenedorInformacion {

    display: flex;
    justify-content: center;
    gap: 30px;




    .informacionDeContacto {


        ul {
            list-style: square;
            font-family: $font-family_2 !important;
            font-size: 20px;
            text-align: start;

            .bolded {
                font-weight: bold;
            }
        }
    }

    .iframeContactos {
        iframe {
            width: 500px;
            height: 500px;


        }
    }
}